/* Enter your custom styles here */

.addUsersPopover .sapMBtnInner {
    background-color: white;
    border: none !important;
}

.UserInfoObjectpageHeader .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
    /*margin-right: 3rem;*/
    width: 220px;
}

.UserInfoObjectpageHeader .sapUxAPObjectPageHeaderContentImageContainer .sapMImg {
    height: 10rem !important;
}

.UserInfoObjectpageHeader .sapMInputBaseReadonlyInner {
    border-color: transparent;
    background: transparent;
    padding: 2px 0px 1rem 0px;
}

.UserInfoObjectpageHeader .sapMComboBoxTextFieldReadonly {
    border: none;
}

.validationError {
    border-color: #ee0000 !important;
    border-width: 2px;
}