/* Enter your custom styles here */

.PrivilegeButton .sapMBtnInner {
        background-color: transparent;
        border: 0
}

.ItemBorder .sapMLIB {
	border: none;
}

.sapUiTableFtr .PaginatorText {
	font-weight: normal;
}